.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.section-title {
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 120%;
  color: #00953e;

  @media (max-width: $breakpoint992) {
    margin-bottom: 24px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  min-width: 316px;
  width: fit-content;
  border: 0;
  outline: 0;
  border-radius: 0 20px;
  padding: 10px;
  height: 54px;
  background: var(--primary-gradient);
  background-size: 200% 200%;
  cursor: pointer;


  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  @media (hover:hover) {
    &:hover {
      animation: btnAnim 2s linear infinite;
    }
  }

  @media (max-width: $breakpoint768) {
    font-size: 14px;
  }

  @media (max-width: $breakpoint480) {
    min-width: 100%;
    width: 100%;
  }
}

@keyframes btnAnim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.label {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--dark);

  sup {
    display: inline-block;
    transform: translateY(4px);
    color: #ff5c00;
  }
}

.input {
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 4px 20px;
  height: 54px;
  background-color: var(--white);
  outline: 0;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: var(--black);
  transition: border 0.2s linear;

  &::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #565656;
  }

  @media (hover:hover) {
    &:hover {
      border-color: var(--lite-green);
    }
  }

  &:focus,
  &:active {
    border-color: var(--lite-green);
  }
}

.input-textarea {
  resize: none;
  height: 76px;
  padding: 20px;
}

.input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 15.713L18.0102 9.70302L16.5972 8.28802L12.0002 12.888L7.40423 8.28802L5.99023 9.70202L12.0002 15.713Z' fill='%23565656' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 10px);
}

.checkbox {}

.checkbox-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -100;

  &:checked~.checkbox-label {
    .checkbox-decor {
      border: 3px solid var(--lite-green);

      &::before {
        opacity: 1;
      }
    }
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.checkbox-decor {
  position: relative;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-color: var(--white);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--lite-green);
    opacity: 0;
  }
}

.checkbox-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--dark);


  @media (max-width: $breakpoint768) {
    font-size: 12px;
  }
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  animation: scroll 2.5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-20px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}