.our-contacts {
  margin: 120px 0 20px;

  @media (max-width: $breakpoint1450) {
    margin: 80px 0 20px;
  }

  @media (max-width: $breakpoint768) {
    margin: 40px 0 20px;
  }

  // .our-contacts__inner

  &__inner {}

  // .our-contacts__title

  &__title {
    margin-bottom: 60px;

    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black);

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
      font-size: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  // .our-contacts__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .our-contacts__item

  &__item {
    display: grid;
    align-content: baseline;
    padding: 50px 40px;
    background-color: var(--white);
    border-radius: 10px;

    @media (max-width: $breakpoint768) {
      padding: 24px 20px;
    }
  }

  // .our-contacts__item-head

  &__item-head {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $breakpoint768) {
      row-gap: 16px;
    }
  }

  // .our-contacts__item-icon

  &__item-icon {}

  // .our-contacts__item-title

  &__item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black);

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .our-contacts__item-footer

  &__item-footer {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #d9d9d9;
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
  }

  // .our-contacts__item-subicon

  &__item-subicon {}

  // .our-contacts__item-texts

  &__item-texts {
    display: flex;
    flex-direction: column;
  }

  // .our-contacts__item-link

  &__item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    color: var(--dark);

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .our-contacts__item-text

  &__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--dark);

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }
}