@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Regular.woff2') format('woff2'), url('../fonts/NeueHaasUnica-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Medium.woff2') format('woff2'), url('../fonts/NeueHaasUnica-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Bold.woff2') format('woff2'), url('../fonts/NeueHaasUnica-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-ExtraBold.woff2') format('woff2'), url('../fonts/NeueHaasUnica-ExtraBold.woff') format('woff');
  font-weight: 800;
}


@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Black.woff2') format('woff2'), url('../fonts/NeueHaasUnica-Black.woff') format('woff');
  font-weight: 900;
}