.payment {
  position: relative;
  z-index: 2;
  margin-top: -40px;

  // margin-bottom: 140px;

  // @media (max-width: $breakpoint992) {
  //   margin-bottom: 40px;
  // }

  // @media (max-width: $breakpoint768) {
  //   margin-bottom: 30px;
  // }

  // .payment__inner

  &__inner {}

  // .payment__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .payment__item

  &__item {}

  // .payment__link

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--white);
    min-height: 200px;
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        background-color: var(--lite-green);
        transform: translateY(-20px);

        .payment__img {}

        .payment__text {
          color: var(--white);
        }
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 20px;
    }

    @media (max-width: $breakpoint768) {
      min-height: 120px;
    }
  }

  // .payment__img

  &__img {
    transition: 0.2s linear;

    @media (max-width: $breakpoint768) {
      max-width: 50%;
    }
  }

  // .payment__text

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black);
    transition: 0.2s linear;

    @media (max-width: $breakpoint992) {
      font-size: 28px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }
}