.subhero {
  position: relative;
  height: 500px;
  margin-top: -114px;
  border-radius: 0 0 0 140px;
  background-color: var(--black);

  @media (max-width: $breakpoint992) {
    min-height: 400px;
    height: auto;
    border-radius: 0 0 0 100px;
  }

  @media (max-width: $breakpoint768) {
    min-height: 300px;
  }

  &--profile {
    .subhero__info {
      padding-top: 140px;
    }
  }


  // .subhero__inner

  &__inner {}

  // .subhero__info

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 220px 140px;

    @media (max-width: $breakpoint992) {
      padding: 140px 0 100px;
    }
  }

  // .subhero__title

  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 64px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      font-size: 48px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 36px;
    }
  }

  // .subhero__text

  &__text {
    font-size: 20px;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .subhero__line

  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;

    @media (max-width: $breakpoint992) {
      width: 140px;
    }

    @media (max-width: $breakpoint768) {
      width: 100px;
    }
  }

  // .subhero__circkle

  &__circkle {
    position: absolute;
    right: 20%;
    bottom: 0;
    height: auto;

    @media (max-width: $breakpoint1450) {
      right: 0;
    }

    @media (max-width: $breakpoint992) {
      width: 240px;
    }

    @media (max-width: $breakpoint768) {
      width: 100px;
    }
  }
}

.subhero {

  // .subhero__form

  &__form {
    width: fit-content;
    margin: 0 auto;
  }

  // .subhero__form-file

  &__form-file {}

  // .subhero__file-input

  &__file-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;
  }

  // .subhero__file-label

  &__file-label {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    cursor: pointer;
  }

  // .subhero__file-pic

  &__file-pic {}

  // .subhero__file-text

  &__file-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  // .subhero__file-btn

  &__file-btn {
    min-width: fit-content;
    padding: 10px 36px;
  }
}